@import url(./nav.css);
@import url(./footer.css);

/* Main */
.main{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/Shopping.jpg);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    gap:10px;
}
.main-text h1{
    font-size:30px;
    margin:10px;
}
.main-text p{
    margin:5px;
}

/* Product Section */
.product{
    position:relative;
    overflow:hidden;
    padding:20px 0;
}
.product-category{
    padding:0 10vw;
    font-size:30px;
    font-weight:500;
    margin-bottom:40px;
}
.product-container{
    padding:0 10vw;
    display:flex;
    overflow-x:auto;
    transition:.3s;
}

.product-container::-webkit-scrollbar{
    display:none;
}
.product-card{
    flex:0 0 auto;
    width:250px;
    height:450px;
    margin-right:20px;
}
.product-img{
    position:relative;
    width:100%;
    height:350px;
    overflow:hidden;
}
.product-thumb{
    width:100%;
    height:350px;
    object-fit:cover;
}
.discount-tag{
    position:absolute;
    background:#fff;
    padding:5px;
    border-radius:5px;
    color:#ff7d7d;
    right:10px;
    top:10px;
}
.card-btn{
    position:absolute;
    bottom:10px;
    left:50%;
    transform:translateX(-50%);
    padding:10px;
    width:90%;
    text-transform:capitalize;
    border:none;
    outline:none;
    background:#fff;
    color:#000;
    border-radius:5px;
    transition:.4s;
    opacity:0;
}
.product-card:hover .card-btn{
    opacity:1;
}
.card-btn:hover{
    background:#efefef;
}
.product-info{
    width:100%;
    height:100px;
    padding-top:10px;
}
.product-brand{
    text-transform:uppercase;
}
.product-short-des{
    width: 100%;
    height:20px;
    line-height:20px;
    overflow:hidden;
    opacity:0.5;
    text-transform:capitalize;
    margin:5px 0;
}
.price{
    font-weight:400;
    font-size:20px;
}
.actual-price{
    margin-left:20px;
    opacity:0.5;
    text-decoration:line-through;
}

/* buttons */
.front-btn, .back-btn{
    width:6vw;
    height:100%;
    position:absolute;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:20px;
    z-index:8;
    transition:.3s;
}
.front-btn{
    right:0;
}
.back-btn{
    left:0;
}
.front-btn img, .back-btn img{
    opacity:0.2;
}
.front-btn:hover img, .back-btn:hover img{
    opacity:1;
}

/* Collections */
.collection-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.collection-content{
    width:100%;
    height:50%;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap:10px;
    padding:10px;
}
.collection{
    position:relative;
    padding:10px;
}
.collection img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.collection p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    color:#000;
    font-size:30px;
    text-transform:capitalize;
}
.collection:nth-child(3){
    grid-column:span 2;
    margin-bottom:10px;
}


