*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:cambria;
}
input,
button{
    background:none;
    outline:none;
    border:none;
    cursor:pointer;
}
ul{
    list-style:none;
}
img{
    width:100%;
}

body{
    background:#d8d876;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Frequently Asked Questions */
.FAQ{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:40%;
    height:auto;
    background-color:#fff;
    padding:20px;
    border-radius:20px;
}
.FAQ-card{
    margin:10px;
}
.FAQ-top{
    display:flex;
    justify-content:space-between;
    gap:20px;
    transition:.2s ease-in;
}
.answer{
    height:0px;
    overflow:hidden;
    transition:.5s;
}
.answer.active{
    display:block;
}


@media screen and (max-width:960px){
    .FAQ{
        width:65%;
        height:auto;
    }
}
